<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <style>
    .zero-result td {
        color: #666;
        font-size: 0.9em;
    }
    @media (prefers-color-scheme: dark) {
        .zero-result td {
            color: #aaa;
        }
    }
    </style>
</head>
<body>
<section class="section">
<div class="container is-fluid">
{% block content %}{% endblock %}
</div>
{% block extra_scripts %}{% endblock %}
</section>
</body>
</html>
